html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.background, .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.hide {
    display: none;
}

.right {
    animation-name: left-to-right;
    animation-duration: 1s;
}

.left {
    animation-name: right-to-left;
    animation-duration: 1s;
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
}

@keyframes left-to-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes right-to-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}